body {
    font-family: sans-serif;
    margin: 0;
    background-color: #efefef;
}

.clear {
    clear: both;
}

nav {
    background-color: #0081d3;
    color: white;
    padding: 1em;
}

h1, ul {
    margin: 0;
    font-size: 1em;
}

nav h1 {
    float: left;
}

nav ul {
    float: right;
}

nav li {
    display: inline;
    margin-left: 1em;
}

nav a {
    color: white;
}

#wrapper {
    padding: 1em;
}

.warning {
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
}

h2 {
    margin: 0;
    font-size: 1em;
}

.stack_trace .line {
    font-family: monospace;
}


.tag {
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    border: 2px solid #9EBABA;
}

.tag:before {
    content: '#';
}

details summary {
    font-size: 0.8em;
}

.code {
    padding-left: 1em;
}

.code pre {
    margin: 0;
}

.code pre:before {
    content: attr(data-line);
    margin-right: 1em;
}

code span {
    border-bottom: 2px solid rgba(255, 0, 0, 0.8);
}


code span[data-title] {
  position: relative;
  cursor: help;
}

code span[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  z-index: 10000;
  bottom: -26px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 0.8em;
  font-family: sans-serif;
  white-space: nowrap;
}
